.center{
    text-align:center;
    color: red;
}
#para1
{
    color:green;
}
#para2
{
    color:green;
}#para3
{
    color:green;
}
h3{
    color: darkblue;
}
body{
    background-color:skyblue;
}

}